@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.link {
    width: fit-content;
    height: fit-content;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    @include typography(16px, 26px, 2.30px, 700);
    padding-bottom: 10px;
    border-bottom: 2px solid $color-green;

    @include max-breakpoint(320px) {
        @include typography(14px, 26px, 2px, 700);
    }
}

.link:hover {
    color: $color-green;
}